@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
}
.btn {
    background: white;
    border: 2px solid green;
    padding: 6px 12px;
    border-radius: 4px;
    color: green;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}
.btn:hover {
    background: green;
    color: white;
    border: 2px solid white;
    font-weight: bold;
}

/* variables */

body {
    --bg-colour-primary: rgb(155, 127, 155);
    --bg-colour-secondary: rgb(94, 174, 94);
    --bg-colour-extra: white;
    --text-colour-1: white;
    --text-colour-2: black;
    --font-impact: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --font-courier: 'Courier New', Courier, monospace;
}